USE [QLVT]
GO
/****** Object:  User [HTKN]    Script Date: 11/20/2021 10:28:23 AM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_4EA8C7685DD14FFBA03FA99627E898BB]    Script Date: 11/20/2021 10:28:23 AM ******/
CREATE ROLE [MSmerge_4EA8C7685DD14FFBA03FA99627E898BB]
GO
/****** Object:  DatabaseRole [MSmerge_72F17D2DE2384FC0AB0F5677EFD20A0E]    Script Date: 11/20/2021 10:28:23 AM ******/
CREATE ROLE [MSmerge_72F17D2DE2384FC0AB0F5677EFD20A0E]
GO
/****** Object:  DatabaseRole [MSmerge_C9C6E2F3B74B453C889FCB0EA54A127A]    Script Date: 11/20/2021 10:28:23 AM ******/
CREATE ROLE [MSmerge_C9C6E2F3B74B453C889FCB0EA54A127A]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 11/20/2021 10:28:23 AM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_4EA8C7685DD14FFBA03FA99627E898BB]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_72F17D2DE2384FC0AB0F5677EFD20A0E]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_C9C6E2F3B74B453C889FCB0EA54A127A]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 11/20/2021 10:28:23 AM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[MasoDDH] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[NhaCC] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MAPN] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MasoDDH] [nchar](8) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_MaSoDDH] UNIQUE NONCLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vattu]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vattu](
	[MAVT] [nchar](4) NOT NULL,
	[TENVT] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[SOLUONGTON] [int] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENVT] UNIQUE NONCLUSTERED 
(
	[TENVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MasoDDH] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[LUONG] [float] NULL,
	[MACN] [nchar](10) NOT NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Get_DanhSachDDHChuaCoPN]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Get_DanhSachDDHChuaCoPN]
AS
SELECT DDH.MasoDDH, DDH.NGAY, DDH.NhaCC, NV.HOTEN, VT.TENVT, 
CT.SOLUONG, CT.DONGIA
FROM
(SELECT MasoDDH, NGAY, NhaCC, MANV FROM DatHang
WHERE MasoDDH not in (SELECT MasoDDH FROM PhieuNhap)) as DDH,
(SELECT HO+' '+TEN AS HOTEN , MANV 
FROM NhanVien ) AS NV,
(SELECT MasoDDH, MAVT, SOLUONG, DONGIA
FROM CTDDH) AS CT,
(SELECT MAVT, TENVT
FROM Vattu) AS VT
WHERE DDH.MasoDDH = CT.MasoDDH AND DDH.MANV = NV.MANV AND CT.MAVT = VT.MAVT
GO
/****** Object:  View [dbo].[Get_Subscribes]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Get_Subscribes] AS
SELECT TENCN=PUB.description, TENSERVER=SUB.subscriber_server
	FROM sysmergepublications as PUB, sysmergesubscriptions as SUB
	WHERE PUB.description <> 'TRACUU' AND PUB.pubid = SUB.pubid 
	AND PUB.publisher <> SUB.subscriber_server
 
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[ChiNhanh] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[ChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MAVT] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MAKHO] [nchar](4) NOT NULL,
	[TENKHO] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_Kho] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_TENKHO] UNIQUE NONCLUSTERED 
(
	[TENKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKHO] [nchar](4) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK_PX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_C9DBDFAD90E347969700A9DB27D91B8E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDDH] ADD  CONSTRAINT [MSmerge_df_rowguid_3CBB02CFC1124A9FA9FDA761D98EAE7E]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTPN] ADD  CONSTRAINT [MSmerge_df_rowguid_2B676B82AB9B49159E27BE90AB307BD2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTPX] ADD  CONSTRAINT [MSmerge_df_rowguid_CA91FD068F5446CD9BDEC047165AB9A0]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [DF_DatHang_MasoDDH]  DEFAULT (getdate()) FOR [MasoDDH]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [DF_DatHang_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [MSmerge_df_rowguid_6D160718F2FD43A897FED2CD371D3BC7]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Kho] ADD  CONSTRAINT [MSmerge_df_rowguid_0274A0E1892140AE80369756C59D63AD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_B569AE17CCCE4B9A9EDC63944EFF24D5]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_MAPN]  DEFAULT (getdate()) FOR [MAPN]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [MSmerge_df_rowguid_BAF6C4475E12407DB4F3C8170252FADB]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [DF_PX_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [MSmerge_df_rowguid_72B561200D8D4D7BA409D7861EBE384F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[Vattu] ADD  CONSTRAINT [MSmerge_df_rowguid_8CB3DBE11D5143A9BCC522F01B594064]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DatHang]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_VatTu]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PhieuNhap] ([MAPN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_VatTu]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PhieuXuat] ([MAPX])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_VatTu] FOREIGN KEY([MAVT])
REFERENCES [dbo].[Vattu] ([MAVT])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_VatTu]
GO
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD  CONSTRAINT [FK_DatHang_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_Kho]
GO
ALTER TABLE [dbo].[DatHang]  WITH NOCHECK ADD  CONSTRAINT [FK_DatHang_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhanVien]
GO
ALTER TABLE [dbo].[Kho]  WITH NOCHECK ADD  CONSTRAINT [FK_Kho_Kho] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Kho] CHECK CONSTRAINT [FK_Kho_Kho]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_DatHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_Kho] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_Kho]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_Kho1] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[Kho] ([MAKHO])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_Kho1]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH NOCHECK ADD  CONSTRAINT [FK_PX_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PX_NhanVien]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIA] CHECK NOT FOR REPLICATION (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPN] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_DONGIACTPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPN] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_SOLUONGCTPN]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPX] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_DONGIACTPX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPX] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_SOLUONGCTPX]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK_LUONG] CHECK NOT FOR REPLICATION (([LUONG]>=(4000000)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_LUONG]
GO
ALTER TABLE [dbo].[Vattu]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGTON] CHECK NOT FOR REPLICATION (([SOLUONGTON]>=(0)))
GO
ALTER TABLE [dbo].[Vattu] CHECK CONSTRAINT [CK_SOLUONGTON]
GO
/****** Object:  StoredProcedure [dbo].[SP_BangKeChiTietSoLuongTriGiaTheoLoai]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BangKeChiTietSoLuongTriGiaTheoLoai] @NGAYBD DATE, @NGAYKT DATE,
@NHOM NVARCHAR(20), @LOAI CHAR
AS
BEGIN
	IF(@NHOM='CHINHANH')
	BEGIN
		IF(@LOAI='N')
		BEGIN
			SELECT  MONTH(PN.NGAY) AS THANG , YEAR(PN.NGAY) AS NAM, VT.TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAVT, TENVT, DVT
			FROM Vattu) AS VT,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT MAPN, NGAY
			FROM PhieuNhap
			WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT) AS PN,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT MAPN, MAVT, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM CTPN) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE VT.MAVT = CT.MAVT AND CT.MAPN = PN.MAPN
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY VT.TENVT, MONTH(PN.NGAY), YEAR(PN.NGAY)
		END
		ELSE -- @LOAI='X'
		BEGIN
			SELECT  MONTH(PX.NGAY) AS THANG , YEAR(PX.NGAY) AS NAM, VT.TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAVT, TENVT, DVT
			FROM Vattu) AS VT,
			-- Chọn các thuộc tính cần thiết của Phiếu Xuất theo điều kiện
			(SELECT MAPX, NGAY
			FROM PhieuXuat
			WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT) AS PX,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu Xuất
			(SELECT MAPX, MAVT, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM CTPX) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE VT.MAVT = CT.MAVT AND CT.MAPX = PX.MAPX
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY VT.TENVT, MONTH(PX.NGAY), YEAR(PX.NGAY)
		END
	END
	ELSE IF(@NHOM='CONGTY')
	BEGIN
		IF(@LOAI='N')
		BEGIN
			SELECT  MONTH(PN.NGAY) AS THANG , YEAR(PN.NGAY) AS NAM, VT.TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAVT, TENVT, DVT
			FROM Vattu) AS VT,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT MAPN, NGAY
			FROM LINK0.QLVT.DBO.PhieuNhap
			WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT) AS PN,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT MAPN, MAVT, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM LINK0.QLVT.DBO.CTPN) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE VT.MAVT = CT.MAVT AND CT.MAPN = PN.MAPN
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY VT.TENVT, MONTH(PN.NGAY), YEAR(PN.NGAY)
		END
		ELSE --@LOAI='X'
		BEGIN
			SELECT  MONTH(PX.NGAY) AS THANG , YEAR(PX.NGAY) AS NAM, VT.TENVT, SUM(SOLUONG) AS TONGSOLUONG, SUM(TONGTIENCT) AS TONGTRIGIA
			-- Chọn các thuộc tính cần thiết của Vật Tư
			FROM (SELECT MAVT, TENVT, DVT
			FROM Vattu) AS VT,
			-- Chọn các thuộc tính cần thiết của Phiếu nhập theo điều kiện
			(SELECT MAPX, NGAY
			FROM LINK0.QLVT.DBO.PhieuXuat
			WHERE NGAY >= @NGAYBD AND NGAY <= @NGAYKT) AS PX,
			-- Chọn các thuộc tính cần thiết của Chi tiết phiếu nhập
			(SELECT MAPX, MAVT, DONGIA*SOLUONG AS TONGTIENCT, SOLUONG
			FROM LINK0.QLVT.DBO.CTPX) AS CT
			-- Điều kiện Join 3 bảng lại với nhau
			WHERE VT.MAVT = CT.MAVT AND CT.MAPX = PX.MAPX
			-- Gom nhóm theo tên vật tư, tháng, năm
			GROUP BY VT.TENVT, MONTH(PX.NGAY), YEAR(PX.NGAY)
		END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Chuyen_Chi_Nhanh]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Chuyen_Chi_Nhanh] @MANV NVARCHAR(20),  @TENCN NVARCHAR(10)
AS 
DECLARE @HO NVARCHAR(40), @TEN NVARCHAR(100), @DIACHI NVARCHAR(100), 
@NGAYSINH DATETIME, @LUONG FLOAT, @NEWMA NVARCHAR(20), @MANVCU NVARCHAR(20)
BEGIN
	SET XACT_ABORT ON
	BEGIN DISTRIBUTED TRANSACTION
	-- Lưu Thông tin nhân viên 
	SELECT @HO = NV.HO, @TEN = NV.TEN, @DIACHI = NV.DIACHI,
	@NGAYSINH = NV.NGAYSINH, @LUONG = NV.LUONG
	FROM NhanVien AS NV
	WHERE NV.MANV = @MANV
		
	IF(@TENCN = 'CHINHANH1') 
	SELECT @TENCN = 'CN1'
	ELSE IF(@TENCN = 'CHINHANH2')
	SELECT @TENCN = 'CN2'
	-- Tại site hiện tại Kiểm tra Nhân Viên đã lập phiếu hay đđh chưa?
	-- Đã lập
	-- Tại Chi Nhánh hiện tại 
	-- +> Update TrangThaiXoa = 1
	-- +> Call SP_Xoa_Tai_Khoan
		IF EXISTS (SELECT 1 FROM PhieuNhap WHERE PhieuNhap.MANV = @MANV)
			OR EXISTS (SELECT 1 FROM DatHang WHERE DatHang.MANV = @MANV)
			OR EXISTS (SELECT 1 FROM PhieuXuat WHERE PhieuXuat.MANV = @MANV)
		BEGIN
			UPDATE NHANVIEN SET TrangThaiXoa = 1
			WHERE MANV = @MANV
		END

	-- Chưa lập phiếu và hđ
	-- Tại Chi Nhánh hiện tại
	-- +> Xóa nhân viên này
	-- +> Call SP_Xoa_Tai_Khoan
		ELSE
			BEGIN
				DELETE FROM NHANVIEN 
				WHERE MANV = @MANV
			END

	
	BEGIN
		
	
	-- Về site chủ kiểm tra nhân viên này đã nằm ở site cần chuyển chưa
		SELECT @NEWMA = NV.MANV FROM LINK0.QLVT.DBO.NHANVIEN AS NV 
			WHERE NV.DIACHI = @DIACHI AND NV.NGAYSINH = @NGAYSINH AND 
			NV.MACN = @TENCN AND NV.HO = @HO AND 
			NV.TEN = @TEN AND NV.LUONG = @LUONG AND TrangThaiXoa = 1
		
		IF(@NEWMA IS NOT NULL)
			BEGIN
		-- Cập nhật TrangThaiXoa = 0
				UPDATE LINK0.QLVT.DBO.NHANVIEN  
				SET TrangThaiXoa = 0
				WHERE MANV = @NEWMA 
			END
		ELSE
			BEGIN
				-- Tạo nhân viên mới có Mã nhân viên = MAX(MaNV) + 1
				SELECT @NEWMA = MAX(NV.MANV)+1 FROM LINK0.QLVT.DBO.NHANVIEN NV
				INSERT INTO LINK0.QLVT.DBO.NHANVIEN 
					(MANV, HO, TEN, DIACHI, NGAYSINH, LUONG, MACN, TrangThaiXoa)
				VALUES (@NEWMA, @HO, @TEN, @DIACHI, @NGAYSINH, @LUONG, @TENCN, 0)
			END
		
	END
	COMMIT TRANSACTION
	EXEC SP_Xoa_Tai_Khoan @MANV	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_HoatDongCuaNhanVien]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_HoatDongCuaNhanVien] @MANV INT, @FROM DATE, @TO DATE, @LOAI CHAR
AS
BEGIN
	IF(@LOAI='N')
	BEGIN
		SELECT NGAY, FORMAT(NGAY,'MMMM yyyy') NGAYTHANG, P.MAPN, HOTENKH='Không có' ,C.TENVT, P.TENKHO, C.SOLUONG, C.DONGIA 
		FROM (SELECT NGAY, MAPN, 
			TENKHO = (SELECT TENKHO FROM Kho WHERE PN.MAKHO = KHO.MAKHO)
			FROM PhieuNhap AS PN
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) AS P,
			(SELECT MAPN, TENVT = (SELECT TENVT FROM Vattu WHERE MAVT=CT.MAVT), SOLUONG, DONGIA
			FROM CTPN AS CT ) AS C
			WHERE P.MAPN = C.MAPN
	END
	ELSE --@LOAI='X'
	BEGIN
		SELECT NGAY, FORMAT(NGAY,'MMMM yyyy') NGAYTHANG, P.MAPX, p.HOTENKH,C.TENVT, P.TENKHO, C.SOLUONG, C.DONGIA 
		FROM (SELECT NGAY, MAPX, PX.HOTENKH,
			TENKHO = (SELECT TENKHO FROM Kho WHERE PX.MAKHO = KHO.MAKHO)
			FROM PhieuXuat AS PX
			WHERE MANV = @MANV AND NGAY BETWEEN @FROM AND @TO) AS P,
			(SELECT MAPX, TENVT = (SELECT TENVT FROM Vattu WHERE MAVT=CT.MAVT), SOLUONG, DONGIA
			FROM CTPX AS CT ) AS C
			WHERE P.MAPX = C.MAPX
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kiem_Tra_Ma]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Kiem_Tra_Ma]
@Type NVARCHAR(15), @ID NVARCHAR(15)
AS
BEGIN
	-- Tồn tại ở site hiện tại -> 1
	-- Tồn tại ở site khác -> 2
	-- else -> 0
	IF(@Type = 'MANV')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.NhanVien WHERE dbo.NhanVien.MANV = @ID)
			RETURN 1; 
		ELSE IF EXISTS(SELECT * FROM LINK0.QLVT.dbo.NhanVien AS NV WHERE NV.MANV = @ID)
			RETURN 2; 
	END
	IF(@Type = 'MAVT')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.Vattu WHERE dbo.Vattu.MAVT = @ID)
			RETURN 1; 
	END
	RETURN 0;
	IF(@Type = 'MAKHO')
	BEGIN
		IF EXISTS(SELECT * FROM dbo.Kho WHERE dbo.Kho.MAKHO = @ID)
			RETURN 1; 
		ELSE IF EXISTS(SELECT * FROM LINK0.QLVT.dbo.Kho AS K WHERE K.MAKHO = @ID)
			RETURN 2; 
	END
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Kiem_Tra_Trang_Thai_Vat_Tu] @MA NCHAR(4)
AS 
BEGIN
	IF exists (SELECT MAVT FROM dbo.CTPN WHERE CTPN.MAVT = @MA)
	OR exists (SELECT MAVT FROM dbo.CTDDH WHERE CTDDH.MAVT = @MA)
	OR exists (SELECT MAVT FROM dbo.CTPX WHERE CTPX.MAVT = @MA)
	RETURN 1

	ELSE IF exists (SELECT MAVT FROM LINK0.QLVT.dbo.CTPN AS T1 WHERE T1.MAVT = @MA)
	OR exists (SELECT MAVT FROM LINK0.QLVT.dbo.CTDDH AS T2 WHERE T2.MAVT = @MA)
	OR exists (SELECT MAVT FROM LINK0.QLVT.dbo.CTPX AS T3 WHERE T3.MAVT = @MA)
	RETURN 2

	RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]
@TENLOGIN NVARCHAR(100)
AS 
DECLARE @UID INT
DECLARE @MANV NVARCHAR(100)
SELECT @UID=uid, @MANV=NAME from sys.sysusers 
	where sid = SUSER_SID(@TENLOGIN)
SELECT MANV= @MANV, HOTEN = (SELECT HO+' '+TEN FROM dbo.NhanVien WHERE MANV=@MANV),
	TENNHOM=NAME 
	FROM sys.sysusers where uid = (select groupuid from sys.sysmembers where memberuid = @UID )
GO
/****** Object:  StoredProcedure [dbo].[SP_PhieuNvLapTrongNamTheoLoai]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PhieuNvLapTrongNamTheoLoai]
@MANV INT, @LOAI CHAR, @NAM INT
AS
BEGIN
	IF(@LOAI='N')
		SELECT PS.PHIEU, NGAY, TENVT, SOLUONG, DONGIA
		FROM (SELECT MAPN AS PHIEU, NGAY FROM PhieuNhap 
			WHERE MANV=@MANV AND YEAR(NGAY)=@NAM) AS PS,
			CTPN CT, VATTU VT
		WHERE PS.PHIEU = CT.MAPN AND CT.MAVT = VT.MAVT 
		ORDER BY NGAY, PS.PHIEU
	ELSE -- LOAI = 'X'
		SELECT PS.PHIEU, NGAY, TENVT, SOLUONG, DONGIA
		FROM (SELECT MAPX AS PHIEU, NGAY FROM PHIEUXUAT
			WHERE MANV=@MANV AND YEAR(NGAY)=@NAM) AS PS,
			CTPN CT, VATTU VT
		WHERE PS.PHIEU = CT.MAPN AND CT.MAVT = VT.MAVT
		ORDER BY NGAY, PS.PHIEU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tao_Tai_Khoan]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tao_Tai_Khoan] @LOGINNAME NVARCHAR(20), @PASSWORD NVARCHAR(32), 
							 @MANV NVARCHAR(20) ,@ROLE NVARCHAR(20) 
AS
-- -1 LOGIN NAME DA TON TAI
-- 1 THANH CONG 
-- 0 NHANVIEN DA TAO TAI KHOAN
DECLARE @RET INT
BEGIN
	EXEC sp_addlogin @loginame= @LOGINNAME ,
							@passwd= @PASSWORD
	EXEC @RET= SP_GRANTDBACCESS @LOGINNAME, @MANV
	IF(@RET=1)
	BEGIN
		EXEC sp_droplogin @loginame = @LOGINNAME
	END
	ELSE IF(@RET=0)
	BEGIN
		EXEC sp_addrolemember @ROLE, @MANV
		IF(@ROLE!='USER')
		EXEC sp_addsrvrolemember @LOGINNAME, 'SecurityAdmin'
	END
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TimNV]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TimNV] @X INT
AS
DECLARE @MACN VARCHAR(10), @HO NVARCHAR(50), @TEN NVARCHAR(10)
IF exists (select MANV FROM dbo.NhanVien where MANV = @X)
BEGIN 
	SELECT TENCN=(SELECT ChiNhanh FROM dbo.ChiNhanh), HO, TEN
	FROM dbo.NhanVien WHERE MANV = @X
END
ELSE
IF exists (select MANV FROM LINK0.QLVT.DBO.NHANVIEN WHERE MANV=@X)
BEGIN 
	SELECT @MACN = MACN, @HO = HO, @TEN = TEN FROM LINK0.QLVT.DBO.NHANVIEN WHERE MANV=@X
	SELECT TENCN = ChiNhanh, HO=@HO, TEN=@TEN FROM LINK0.QLVT.DBO.CHINHANH WHERE MACN=@MACN
END
ELSE 
	raiserror('Mã nhân viên bạn tìm không có.',16, 1)
GO
/****** Object:  StoredProcedure [dbo].[SP_TongHopNhapXuat]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongHopNhapXuat] @FROM DATE, @TO DATE
AS
BEGIN
DECLARE @SUMNHAP FLOAT, @SUMXUAT FLOAT
SELECT @SUMNHAP = (SELECT SUM(SOLUONG*DONGIA) FROM PhieuNhap
				JOIN CTPN ON PhieuNhap.MAPN = CTPN.MAPN
				WHERE PhieuNhap.NGAY BETWEEN '2021-07-01' AND '2021-10-31')
SELECT @SUMXUAT = (SELECT SUM(SOLUONG*DONGIA) FROM PhieuXuat
				JOIN CTPX ON PhieuXuat.MAPX = CTPX.MAPX
				WHERE PhieuXuat.NGAY BETWEEN '2021-07-01' AND '2021-10-31')

	SELECT ISNULL(PN.NGAY,PX.NGAY) NGAY, ISNULL(NHAP,0) NHAP, 
	ISNULL(NHAP/@SUMNHAP,0) TLN, ISNULL(XUAT,0) XUAT,
	ISNULL(XUAT/@SUMXUAT,0) TLX
	FROM 

	(SELECT NGAY,  SUM(SOLUONG*DONGIA) NHAP
	FROM  PhieuNhap P INNER JOIN CTPN CT
	ON P.MAPN = CT.MAPN
	WHERE NGAY BETWEEN '2021-07-01' AND '2021-10-31'
	GROUP BY NGAY) AS PN
	FULL OUTER JOIN
	(SELECT P.NGAY, SUM(SOLUONG*DONGIA) XUAT
	FROM PhieuXuat P JOIN CTPX CT
	ON P.MAPX = CT.MAPX
	WHERE NGAY BETWEEN '2021-07-01' AND '2021-10-31'
	GROUP BY P.NGAY) AS PX

	ON PN.NGAY = PX.NGAY
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Xoa_Tai_Khoan]    Script Date: 11/20/2021 10:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Xoa_Tai_Khoan] @MANV NVARCHAR(20)
AS
DECLARE @LOGINNAME NVARCHAR(20)
BEGIN
	SELECT @LOGINNAME = name FROM sys.syslogins
	WHERE sid = (SELECT sid FROM sys.sysusers WHERE name = @MANV)
	
	if(@LOGINNAME IS NOT NULL)
	BEGIN
		EXEC sp_dropuser  @name_in_db =  @MANV
		EXEC sp_droplogin  @loginame =  @LOGINNAME
	END
END
GO
